.clock {
  background-image: url("../../../assets/icon/clock.svg");
}

.eye {
  background-image: url("../../../assets/icon/eye.svg");
}

.money {
  background-image: url("../../../assets/icon/money.svg");
}

.check {
  background-image: url("../../../assets/icon/check.svg");
}
