@import "./icons.css";

.product-cards-container {
}

.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  background-color: var(black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-cards-container .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: bold;
  color: var(--just-white);
}

.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--subnegro);
}
