@import './main/pricing-card.css';

.main-pricing-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.princing--header{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pricing-header--title{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
}

.plicing-header--description{
 padding-top: 30px;
 font-size: 1.4rem;
 font-weight: 500;
 line-height: 1.8rem;
 color:#757575;
}

.pricing-container-slider{

}