@import './main/main-exchange.css';
@import './main/main-product-detail.css';
@import './main/main-banner.css';
@import './main/main-pricing.css';

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}